body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(45deg, #c8456e, #1D2671);
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    margin-top: 40px;
    /* overflow: hidden; */

}